body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-black);
    font-family: "JetBrains Mono", monospace;
    

    input {
        outline: none;
    }
}

.header {
    background-color: var(--color-dark);

    &__cont {
        @include page__grid;

        .search {

            button {
                margin-left: 20px;
                transition: all .5s;

                svg {
                    transition: all .15s;
                }

                &:hover {
                    width: 40px;
                    height: 40px;
                }
            }

            input {
                transition: all .2s;

                &:focus {
                    box-shadow: var(--shadow);

                }

                &:focus + button svg {
                    @include icon__animation;
                }

                
            }

        }

        .profile {
            a {
                color: var(--color-white);

                &:hover {
                    @include link__hover;

                    svg {
                        margin-right: 20px;
                    }
                }

                &:active {
                    @include link__animation;
                    font-size: #{getFont(16px)};
                }
            }

            
        }
        
    }
}

.navigation {
    
    background: transparent;
    &__cont {
        @include page__grid;

        li:hover {
            svg {
                @include icon__animation;
            }
        }

        li:not(:first-child) {
            margin-left: 20px;
        }

        a {
            color: var(--color-white);
            transition: all .15s;

            &:hover {
                @include link__hover;
            }

            &:active {
                @include link__animation;
                font-size: #{getFont(16px)};
            }
        }
    }
    }

.main {
    min-height: calc( 100vh - ( 80px + 56px ) );

    &__cont {
        @include page__grid;

        .category {
            background-color: var(--color-dark);
            color: #fff;

            &__title {
                color: var(--color-primary);
                font-weight: 700;
            }

            ul {
                li {
                    margin-bottom: 20px;

                    svg {
                        transition: all .2s;
                        margin-right: 15px;
                    }

                    
                    a {
                        transition: all .2s;
                        
                        &:hover {
                            @include link__hover;

                            svg {
                                @include icon__animation;
                            }
                        }

                        &:active {
                            @include link__animation;
                            font-size: #{getFont(16px)};
                        }
                    }
                }
            }
        }

        .theme{
            background-color: var(--color-dark);

            &__title {
                color: var(--color-primary);
                font-weight: 700;
            }

            &__list {
                li {
                    height: 30px;
                    margin-bottom: 40px;
                    display: flex;

                    a {
                        transition: all .2s;
                        vertical-align: middle;
                        font-size: 18px;

                        &:hover {
                            @include link__hover;

                            .left-line {
                                height: 26px;
                            }
                        }

                        &:active {
                            @include link__animation;
                            font-size: #{getFont(18px)};
                        }

                        .left-line {
                            background: var(--color-primary);
                            transition: all .1s;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background: var(--color-dark);

    &__cont {
        @include page__grid;

        .developer {
            a {
                color: #fff;
                transition: all .15s;

                svg {
                    transition: all .15s;
                }

                &:hover {
                    @include link__hover;
                    
                    svg {
                        @include icon__animation;
                    }
                }

                &:active {
                    @include link__animation;
                    font-size: #{getFont(16px)};
                }
            }
        }
    }
}

.login {
    &__cont {
        background: var(--color-dark);
        box-shadow: var(--shadow);

        .title {
            color: var(--color-primary);
            text-shadow: var(--shadow);
        }
    }
}